@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

img {
    width: 100%;
    border-radius: 1rem;
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
}

#main {
    background-color: hsl(0, 0%, 100%);
    padding: 1.25rem;
    border-radius: 1rem;
    width: 19rem;
    margin: 2rem;
}

.article {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

.article h1 {
    color: hsl(218, 44%, 22%);
}

.article p {
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 0.65rem;
    text-align: center;
    padding: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}